/* UNIVERSAL STYLES */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fcf7f0;
}

/* NAVBAR */
.navbar-brand {
  font-family: 'Rye', cursive;
}

/* HOME PAGE */

#homePage .display-4 {
  display: flex;
  justify-content: center;
  letter-spacing: 4.5px;
  font-family: 'Roboto', sans-serif;
}

.fabricIMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
}

.lead {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.home-buttons {
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
}

.home-bloomers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-pants {
  text-align: center;
  border-radius: 12px;
  width: 300px;
  margin: 20px;
  text-align: center;
  background-image: url(/images/border.jpeg);
  font-family: 'Roboto', sans-serif;
}

.card--image {
  width: 280px;
  height: 335px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .fabricIMG {
    height: 250px;
  }
}

@media only screen and (min-width: 600px) {
  .fabricIMG {
    height: 275px;
  }
}

@media only screen and (min-width: 768px) {
  .fabricIMG {
    height: 350px;
  }
}

@media only screen and (min-width: 992px) {
  .fabricIMG {
    height: 400px;
  }
}

@media only screen and (min-width: 1100px) {
  .fabricIMG {
    height: 475px;
  }
}

@media only screen and (min-width: 1400px) {
  .fabricIMG {
    height: 575px;
  }
}

/* ABOUT US PAGE */
.about--image {
  height: auto;
}
.about--container .btn {
  position: absolute;
  top: 60%;
  left: 40%;
  width: 23%;
  height: 15%;
  font-size: 75px;
  color: white;
  background: none;
  border: 2px solid white;
  cursor: pointer;
}
.about--card .info--container {
  margin: 30px;
}

.about--card .info--container h2 {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  font-family: 'Rye', cursive;
}
.about--card .info--container p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
}

/* CONTACT US PAGE */

#contactUsPage {
    background-color: #fcf7f0;
    font-family: 'Roboto', sans-serif;
}

#page-content {
  background-color: #fcf7f0;
  margin-top: 2%;
}

#page-content p {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.container {
  background-color: #fcf7f0;
  max-width: 800px;
  width: 100%;
  margin-top: 5px auto;
  position: relative;
}

.picture-loop {
  background-color: #fcf7f0;
  padding: 5px auto;
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container h2 {
  font-family: 'Rye', cursive;
}

#contact {
  margin-top: 25px;
  background: #fcf7f0;
}

#contact h2 {
  margin-top: 15px;
  text-align: center;
}

#contact h4 {
  text-align: center;
}

fieldset {
  margin: 3% auto;
  min-width: 80%;
  padding: 0;
  width: 80%;
}

#contact input {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

.btn-group {
  width: 100%;
}

#submit-button {
  margin-bottom: 15px;
}

#contact-message {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

#thanks {
  height: 30%;
  width: 45%;
  background-color: antiquewhite;
}

#thanks-header {
  font-family: 'Rye', cursive;
  font-size: 2em;
  background-color: blanchedalmond;
}

/* MOODS PAGE */
#moodJumbo h1  {
  font-family: 'Rye', cursive;
}

#moodJumbo p {
  font-family: 'Roboto', sans-serif;
  }

    
.mood--image {
  width: 280px;
  height: 335px;
  padding: 10px;
}
 .card-mood {
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   text-align: center;
 }
.mood-text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
/* SEASONS PAGE */

#seasonsPage {
  font-family: 'Roboto', sans-serif;
}

#seasonsJumbotron {
  background-image: url(seasons-images/jumbo-background.jpg);
  background-color: #f8f9fa;
  font-family: 'Rye';
  padding: 5% 0 5% 3%;
}

#seasonsCardContainer {
  padding: 4%;
}

.seasons-card-div {
  margin-top: 1%;
}

#seasonsCardImages {
  height: 30vw;
  object-fit: cover;
}

#Winter, 
#Spring,
#Summer,
#Fall {
  margin-right: 1%;
  margin-left: 1%;
  width: 5%;
}

#seasonsButtonDiv {
  margin-top: 3%;
}

/* FAQ PAGE */
.faq--image-container, 
.faq--image {
  display: flex;
  justify-content: center;
}

.faq--results ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid black;
  margin: 20px;
  max-width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 10px;
}
.faq--results .question {
    font-weight: bold;
    font-size: 20px;
}
.faq--results .answer {
    font-weight: 600;
    font-size: 20px;
}
.faq--search {
    display: flex;
    justify-content: center;
}
.faq--container {
    padding: 0;
}

/* FOOTER */
.footer {
  background-color: rgb(255, 255, 255);
  background-color: white;
}

/* BLOOM STYLING */

.bloom {
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
}
