/* UNIVERSAL STYLES */

body {
  background-color: aquamarine;
}
/* NAVBAR */
.navbar-brand {
  font-family: 'Rye', cursive;
}

/* HOME PAGE */

/* ABOUT US PAGE */

/* CONTACT US PAGE */

/* MOODS PAGE */

/* SEASONS PAGE */

/* FOOTER */
.footer {
  background-color: aqua;
}
